body {
    margin: 0;
    padding: 0;
}


header {
    background: rgb(142, 180, 58);
    background: linear-gradient(243deg, rgba(142, 180, 58, 1) 0%, rgba(224, 47, 121, 1) 0%, rgba(140, 70, 133, 1) 100%, rgba(40, 253, 29, 1) 100%, rgba(163, 0, 255, 1) 100%, rgba(252, 176, 69, 1) 100%);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100%;
    

}

main {
    padding-top: 82px;
    
}


.description{
    font-style: oblique;
}



.tabs-bar {
    margin: auto;
    display: flex;
   
    background-color: rgb(255, 255, 255);
    align-items: center;
    
}

.tabs-bar a {
    
    padding: 8px;
    color: rgb(32, 32, 32);
    
    text-align: center;
    font-weight: 500;
}


.tabs-bar a:hover {
   cursor: pointer;
}


button:hover {
    cursor: pointer;
}



.div-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-icon:hover {
    transition: 0.6s;
    cursor: pointer;
    transform: translateY(-2px);
}